@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Teko:wght@300&display=swap');

.Acme_font {
    font-family: 'Acme', sans-serif;
}

.Lobster_font {
    font-family: 'Lobster', cursive;
}

.Teko_font {
    font-family: 'Teko', sans-serif;
}